<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<connectionStrings>
		<add name="MyConnectionMySQL"
             connectionString="server=localhost; user=root; password=MS-x51179m; database=control_pagos"
             providerName="MySql.Data.MySqlClient" />
	</connectionStrings>

</configuration>